.item{
    padding-left: 10%;
    padding-right: 5%;

}

.profilepic{
    padding-left: 10%;
    width: 200;
    height: 200;
}
.itembox {
    display: flex;
    align-items:baseline;
    margin-bottom: 20px;

  }

.instructorbox {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    width: auto;
    padding-top: 5%;
  }

.itemdescriptionbox {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    margin-bottom: 20px;
    text-align: left;

  }
.itemcontainer{
    max-width: 750px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 5px;
    
}
  